/*--- Avanquest WebEasy Page Style ---*/


.cc433              { /* Common */
	border          :   0.00pt none #000000;
	}
img#e3              { /* mywebsite128003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
span#e2             { /* mywebsite128002.jpg */
	background      : transparent url(mywebsite128002.jpg) no-repeat top left;
	position        : absolute;
	left            : 168.75pt;
	top             : 120.00pt;
	width           : 248.25pt;
	height          : 315.75pt;
	}
img#e1              { /* mywebsite128001.jpg */
	position        : absolute;
	left            : 483.75pt;
	top             :  60.00pt;
	width           : 169.50pt;
	height          : 501.00pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
