/*--- Avanquest WebEasy Page Style ---*/


.cc430              { /* Common */
	border          :   0.00pt none #000000;
	}
img#e2              { /* mywebsite126002.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e1              { /* mywebsite126001.jpg */
	position        : absolute;
	left            : 167.25pt;
	top             :  62.25pt;
	width           : 432.75pt;
	height          : 471.00pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
