/*--- Avanquest WebEasy Page Style ---*/


.cc736              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc737              { /* Common */
	font            : bold 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc738              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc739              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc740              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc741              { /* Common */
	border          :   0.00pt none #009900;
	}
.cc742              { /* Common */
	font            : bold 12pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
img#e18             { /* mywebsite211004.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e17             { /* mywebsite007007.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 142.50pt;
	width           :  57.00pt;
	height          :  30.75pt;
	}
span#e16            { /* mywebsite007006.gif */
	background      : transparent url(mywebsite007006.gif) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             : 202.50pt;
	width           :  58.50pt;
	height          :  29.25pt;
	}
span#e15            { /* mywebsite007005.gif */
	background      : transparent url(mywebsite007005.gif) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             : 261.75pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e14             { /* MENU */
	position        : absolute;
	left            :  11.25pt;
	top             : 150.00pt;
	width           :  60.75pt;
	height          :  17.25pt;
	}
div#e13             { /* SUITE */
	position        : absolute;
	left            :  11.25pt;
	top             : 210.00pt;
	width           :  57.00pt;
	height          :  26.25pt;
	}
div#e12             { /* RETOUR */
	position        : absolute;
	left            :   6.75pt;
	top             : 267.00pt;
	width           :  68.25pt;
	height          :  28.50pt;
	}
span#e11            { /* mywebsite007005.gif */
	background      : transparent url(mywebsite007005.gif) no-repeat top left;
	position        : absolute;
	left            :  12.00pt;
	top             : 322.50pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e10             { /* DOC */
	position        : absolute;
	left            :  23.25pt;
	top             : 330.00pt;
	width           :  35.25pt;
	height          :  26.25pt;
	}
img#e9              { /* mywebsite007004.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 374.25pt;
	width           :  70.50pt;
	height          :  31.50pt;
	}
div#e8              { /* Ascendance */
	position        : absolute;
	left            :  15.00pt;
	top             : 383.25pt;
	width           :  60.00pt;
	height          :  14.25pt;
	}
img#e7              { /* mywebsite007003.gif */
	position        : absolute;
	left            :  10.50pt;
	top             : 422.25pt;
	width           :  72.75pt;
	height          :  31.50pt;
	}
div#e6              { /* Déscendance */
	position        : absolute;
	left            :  19.50pt;
	top             : 431.25pt;
	width           :  69.75pt;
	height          :  15.00pt;
	}
img#e5              { /* mywebsite211003.jpg */
	position        : absolute;
	left            : 118.50pt;
	top             : 171.00pt;
	width           : 136.50pt;
	height          : 219.00pt;
	}
img#e4              { /* mywebsite211002.jpg */
	position        : absolute;
	left            : 267.75pt;
	top             : 172.50pt;
	width           : 138.75pt;
	height          : 216.00pt;
	}
div#e3              { /* Lettre de Jean à sa femm... */
	position        : absolute;
	left            : 136.50pt;
	top             : 407.25pt;
	width           : 266.25pt;
	height          :  38.25pt;
	}
span#e2             { /* mywebsite211001.gif */
	background      : transparent url(mywebsite211001.gif) no-repeat top left;
	position        : absolute;
	left            : 285.00pt;
	top             :  70.50pt;
	width           : 222.00pt;
	height          :  69.75pt;
	}
div#e1              { /* DOCUMENTATION  DIVERSE */
	position        : absolute;
	left            : 293.25pt;
	top             :  96.00pt;
	width           : 218.25pt;
	height          :  23.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
