/*--- Avanquest WebEasy Page Style ---*/


.cc375              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc376              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e3              { /* mywebsite096003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e2              { /* mywebsite103001.jpg */
	position        : absolute;
	left            : 162.00pt;
	top             :  63.00pt;
	width           : 307.50pt;
	height          : 493.50pt;
	}
div#e1              { /* Voici toute la famille, ... */
	position        : absolute;
	left            : 525.00pt;
	top             : 198.00pt;
	width           : 144.00pt;
	height          :  56.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
