/*--- Avanquest WebEasy Page Style ---*/


.cc447              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc448              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e4              { /* mywebsite137003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
div#e3              { /* C'est la seule photo de ... */
	position        : absolute;
	left            : 168.75pt;
	top             : 487.50pt;
	width           : 250.50pt;
	height          :  20.25pt;
	}
img#e2              { /* mywebsite137002.jpg */
	position        : absolute;
	left            : 146.25pt;
	top             :  90.00pt;
	width           : 293.25pt;
	height          : 379.50pt;
	}
img#e1              { /* mywebsite137001.jpg */
	position        : absolute;
	left            : 528.75pt;
	top             :  45.00pt;
	width           : 124.50pt;
	height          : 523.50pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
