/*--- Avanquest WebEasy Page Style ---*/


.cc347              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc348              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e5              { /* mywebsite084003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e4              { /* mywebsite092002.jpg */
	position        : absolute;
	left            : 171.75pt;
	top             :  68.25pt;
	width           : 292.50pt;
	height          : 219.75pt;
	}
img#e3              { /* mywebsite092001.jpg */
	position        : absolute;
	left            : 351.00pt;
	top             : 322.50pt;
	width           : 322.50pt;
	height          : 233.25pt;
	}
div#e2              { /* Avec sa maman en 2007.\ ... */
	position        : absolute;
	left            : 531.75pt;
	top             : 137.25pt;
	width           : 168.00pt;
	height          :  88.50pt;
	}
div#e1              { /* Ici en 2008, avec son pa... */
	position        : absolute;
	left            : 149.25pt;
	top             : 399.00pt;
	width           : 183.75pt;
	height          :  92.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
