/*--- Avanquest WebEasy Page Style ---*/


.cc441              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc442              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
img#e2              { /* mywebsite128003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
div#e1              { /* Il est décédé le 18 sept... */
	position        : absolute;
	left            : 192.75pt;
	top             : 160.50pt;
	width           : 403.50pt;
	height          :  56.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
