/*--- Avanquest WebEasy Page Style ---*/


.cc120              { /* Common */
	border          :   0.00pt none #ff3366;
	}
.cc121              { /* Common */
	font            : italic bold 18pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc122              { /* Common */
	font            : bold 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc123              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc124              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc125              { /* Common */
	font            : 14pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc126              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
span#e21            { /* mywebsite022004.gif */
	background      : transparent url(mywebsite022004.gif) no-repeat top left;
	position        : absolute;
	left            :  78.75pt;
	top             :  15.00pt;
	width           : 618.75pt;
	height          :  27.00pt;
	}
div#e20             { /* &nbsp;&nbsp;GENEALOGIE  ... */
	position        : absolute;
	left            :  90.75pt;
	top             :  16.50pt;
	width           : 574.50pt;
	height          :  28.50pt;
	}
img#e19             { /* mywebsite007007.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 142.50pt;
	width           :  57.00pt;
	height          :  30.75pt;
	}
img#e18             { /* mywebsite007006.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 202.50pt;
	width           :  58.50pt;
	height          :  29.25pt;
	}
img#e17             { /* mywebsite007005.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 261.75pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e16             { /* MENU */
	position        : absolute;
	left            :  11.25pt;
	top             : 150.00pt;
	width           :  60.75pt;
	height          :  17.25pt;
	}
div#e15             { /* SUITE */
	position        : absolute;
	left            :  11.25pt;
	top             : 210.00pt;
	width           :  57.00pt;
	height          :  26.25pt;
	}
div#e14             { /* RETOUR */
	position        : absolute;
	left            :   6.75pt;
	top             : 267.00pt;
	width           :  68.25pt;
	height          :  28.50pt;
	}
img#e13             { /* mywebsite007005.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 322.50pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e12             { /* DOC */
	position        : absolute;
	left            :  23.25pt;
	top             : 330.00pt;
	width           :  35.25pt;
	height          :  26.25pt;
	}
img#e11             { /* mywebsite007004.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 374.25pt;
	width           :  70.50pt;
	height          :  31.50pt;
	}
div#e10             { /* Ascendance */
	position        : absolute;
	left            :  15.00pt;
	top             : 383.25pt;
	width           :  60.00pt;
	height          :  14.25pt;
	}
img#e9              { /* mywebsite007003.gif */
	position        : absolute;
	left            :  10.50pt;
	top             : 421.50pt;
	width           :  72.75pt;
	height          :  31.50pt;
	}
div#e8              { /* Déscendance */
	position        : absolute;
	left            :  18.00pt;
	top             : 429.75pt;
	width           :  69.75pt;
	height          :  15.00pt;
	}
div#e7              { /* Gustave-Jules Teyssier e... */
	position        : absolute;
	left            : 144.00pt;
	top             :  82.50pt;
	width           : 546.75pt;
	height          :  69.00pt;
	}
img#e6              { /* mywebsite022003.jpg */
	position        : absolute;
	left            : 116.25pt;
	top             : 183.75pt;
	width           : 189.00pt;
	height          : 135.75pt;
	}
img#e5              { /* mywebsite022002.jpg */
	position        : absolute;
	left            : 359.25pt;
	top             : 195.75pt;
	width           : 128.25pt;
	height          : 153.75pt;
	}
div#e4              { /* Ici le 5 novembre 1885 a... */
	position        : absolute;
	left            : 120.00pt;
	top             : 352.50pt;
	width           : 171.00pt;
	height          :  64.50pt;
	}
div#e3              { /* Il avait environ 10 ans */
	position        : absolute;
	left            : 361.50pt;
	top             : 378.00pt;
	width           : 158.25pt;
	height          :  20.25pt;
	}
div#e2              { /* Le voici entouré de ses ... */
	position        : absolute;
	left            : 572.25pt;
	top             : 391.50pt;
	width           : 154.50pt;
	height          :  38.25pt;
	}
img#e1              { /* mywebsite022001.jpg */
	position        : absolute;
	left            : 533.25pt;
	top             : 165.00pt;
	width           : 177.75pt;
	height          : 204.75pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
