/*--- Avanquest WebEasy Page Style ---*/


.cc529              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc530              { /* Common */
	font            : italic 12pt 'Arial', Helvetica, sans-serif;
	color           : #ff0000;
	}
img#e2              { /* mywebsite162001.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
div#e1              { /* Cliquez sur la trompette... */
	position        : absolute;
	left            : 507.00pt;
	top             : 365.25pt;
	width           : 123.75pt;
	height          :  76.50pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
