/*--- Avanquest WebEasy Page Style ---*/


.cc703              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc704              { /* Common */
	font            : bold 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc705              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc706              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc707              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e17             { /* mywebsite204002.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e16             { /* mywebsite007007.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 142.50pt;
	width           :  57.00pt;
	height          :  30.75pt;
	}
img#e15             { /* mywebsite007006.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 202.50pt;
	width           :  58.50pt;
	height          :  29.25pt;
	}
span#e14            { /* mywebsite007005.gif */
	background      : transparent url(mywebsite007005.gif) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             : 261.75pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e13             { /* MENU */
	position        : absolute;
	left            :  11.25pt;
	top             : 150.00pt;
	width           :  60.75pt;
	height          :  17.25pt;
	}
div#e12             { /* SUITE */
	position        : absolute;
	left            :  11.25pt;
	top             : 210.00pt;
	width           :  57.00pt;
	height          :  26.25pt;
	}
div#e11             { /* RETOUR */
	position        : absolute;
	left            :   6.75pt;
	top             : 267.00pt;
	width           :  68.25pt;
	height          :  28.50pt;
	}
img#e10             { /* mywebsite007005.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 322.50pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e9              { /* DOC */
	position        : absolute;
	left            :  23.25pt;
	top             : 330.00pt;
	width           :  35.25pt;
	height          :  26.25pt;
	}
img#e8              { /* mywebsite007004.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 374.25pt;
	width           :  70.50pt;
	height          :  31.50pt;
	}
div#e7              { /* Ascendance */
	position        : absolute;
	left            :  15.00pt;
	top             : 383.25pt;
	width           :  60.00pt;
	height          :  14.25pt;
	}
img#e6              { /* mywebsite007003.gif */
	position        : absolute;
	left            :  10.50pt;
	top             : 422.25pt;
	width           :  72.75pt;
	height          :  31.50pt;
	}
div#e5              { /* Déscendance */
	position        : absolute;
	left            :  19.50pt;
	top             : 429.00pt;
	width           :  69.75pt;
	height          :  15.00pt;
	}
div#e4              { /* C'est mon grand-père mat... */
	position        : absolute;
	left            : 186.75pt;
	top             : 135.75pt;
	width           : 428.25pt;
	height          :  74.25pt;
	}
img#e3              { /* mywebsite204001.jpg */
	position        : absolute;
	left            : 134.25pt;
	top             : 250.50pt;
	width           : 333.75pt;
	height          : 149.25pt;
	}
div#e2              { /* Voici son acte de naissa... */
	position        : absolute;
	left            : 497.25pt;
	top             : 276.75pt;
	width           : 151.50pt;
	height          :  42.75pt;
	}
div#e1              { /* Comme beaucoup à cette é... */
	position        : absolute;
	left            : 159.75pt;
	top             : 462.75pt;
	width           : 479.25pt;
	height          :  38.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
