/*--- Avanquest WebEasy Page Style ---*/


.cc599              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc600              { /* Common */
	font            : bold 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc601              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc602              { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc603              { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e9              { /* mywebsite183001.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e8              { /* mywebsite007007.gif */
	position        : absolute;
	left            :  13.50pt;
	top             : 144.75pt;
	width           :  57.00pt;
	height          :  30.75pt;
	}
div#e7              { /* MENU */
	position        : absolute;
	left            :  13.50pt;
	top             : 152.25pt;
	width           :  60.75pt;
	height          :  17.25pt;
	}
img#e6              { /* mywebsite007004.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 374.25pt;
	width           :  70.50pt;
	height          :  31.50pt;
	}
div#e5              { /* Ascendance */
	position        : absolute;
	left            :  15.00pt;
	top             : 383.25pt;
	width           :  60.00pt;
	height          :  14.25pt;
	}
img#e4              { /* mywebsite007003.gif */
	position        : absolute;
	left            :  10.50pt;
	top             : 422.25pt;
	width           :  72.75pt;
	height          :  31.50pt;
	}
div#e3              { /* Déscendance */
	position        : absolute;
	left            :  19.50pt;
	top             : 429.75pt;
	width           :  69.75pt;
	height          :  15.00pt;
	}
div#e2              { /* Alain et sa maman */
	position        : absolute;
	left            : 606.75pt;
	top             : 427.50pt;
	width           :  86.25pt;
	height          :  18.00pt;
	}
div#e1              { /* Au Fraysse en 1942 */
	position        : absolute;
	left            : 166.50pt;
	top             : 472.50pt;
	width           :  92.25pt;
	height          :  19.50pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
