/*--- Avanquest WebEasy Page Style ---*/


.cc218              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc219              { /* Common */
	border          :   0.75pt solid #c0c0c0;
	}
img#e6              { /* mywebsite037003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e5              { /* mywebsite044005.jpg */
	position        : absolute;
	left            : 189.75pt;
	top             :  87.00pt;
	width           : 415.50pt;
	height          :  21.75pt;
	}
img#e4              { /* mywebsite044004.jpg */
	position        : absolute;
	left            : 164.25pt;
	top             : 142.50pt;
	width           : 247.50pt;
	height          : 139.50pt;
	}
img#e3              { /* mywebsite044003.jpg */
	position        : absolute;
	left            : 555.75pt;
	top             : 194.25pt;
	width           : 128.25pt;
	height          : 183.75pt;
	}
img#e2              { /* mywebsite044002.jpg */
	position        : absolute;
	left            : 162.00pt;
	top             : 316.50pt;
	width           : 176.25pt;
	height          : 132.00pt;
	}
img#e1              { /* mywebsite044001.jpg */
	position        : absolute;
	left            : 380.25pt;
	top             : 411.00pt;
	width           : 224.25pt;
	height          : 126.75pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
