/*--- Avanquest WebEasy Page Style ---*/


.cc399              { /* Common */
	border          :   0.00pt none #000000;
	}
img#e2              { /* mywebsite111001.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e1              { /* mywebsite113001.jpg */
	position        : absolute;
	left            : 237.00pt;
	top             :  62.25pt;
	width           : 343.50pt;
	height          : 489.00pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
