/*--- Avanquest WebEasy Page Style ---*/


.cc524              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc525              { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #ff0000;
	}
.cc526              { /* Common */
	border          :   0.75pt solid #00ffff;
	}
.cc527              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e10             { /* mywebsite160005.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
div#e9              { /* Né le 24 octobre 1914 à ... */
	background-color: #ffffff;
	position        : absolute;
	left            : 181.50pt;
	top             :  61.50pt;
	width           : 447.75pt;
	height          :  27.75pt;
	}
img#e8              { /* mywebsite160004.jpg */
	position        : absolute;
	left            : 168.00pt;
	top             : 105.75pt;
	width           : 144.00pt;
	height          : 184.50pt;
	}
img#e7              { /* mywebsite160003.jpg */
	position        : absolute;
	left            : 496.50pt;
	top             : 327.00pt;
	width           : 159.75pt;
	height          : 197.25pt;
	}
img#e6              { /* mywebsite160002.jpg */
	position        : absolute;
	left            : 135.00pt;
	top             : 367.50pt;
	width           : 276.75pt;
	height          : 156.00pt;
	}
img#e5              { /* mywebsite160001.jpg */
	position        : absolute;
	left            : 395.25pt;
	top             : 103.50pt;
	width           : 263.25pt;
	height          : 174.75pt;
	}
div#e4              { /* Mobilisation pour la gue... */
	position        : absolute;
	left            : 150.75pt;
	top             : 309.75pt;
	width           : 243.75pt;
	height          :  20.25pt;
	}
div#e3              { /* La paysannerie en 1914 */
	position        : absolute;
	left            : 470.25pt;
	top             : 298.50pt;
	width           : 175.50pt;
	height          :  20.25pt;
	}
div#e2              { /* La mode féminine  */
	position        : absolute;
	left            : 540.75pt;
	top             : 537.00pt;
	width           : 129.00pt;
	height          :  20.25pt;
	}
div#e1              { /* La circulation dans Pari... */
	position        : absolute;
	left            : 186.75pt;
	top             : 535.50pt;
	width           : 174.00pt;
	height          :  20.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
