/*--- Avanquest WebEasy Page Style ---*/


.cc248              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc249              { /* Common */
	border          :   2.25pt solid #ff00ff;
	}
.cc250              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e5              { /* mywebsite052003.jpg */
	position        : absolute;
	left            :   1.50pt;
	top             :   1.50pt;
	width           : 744.00pt;
	height          : 574.50pt;
	}
img#e4              { /* mywebsite055002.jpg */
	position        : absolute;
	left            : 163.50pt;
	top             :  87.00pt;
	width           : 232.50pt;
	height          : 282.00pt;
	}
div#e3              { /* Sa première photo vers 9... */
	position        : absolute;
	left            : 165.75pt;
	top             : 393.00pt;
	width           : 261.75pt;
	height          :  38.25pt;
	}
img#e2              { /* mywebsite055001.jpg */
	position        : absolute;
	left            : 486.00pt;
	top             : 204.75pt;
	width           : 206.25pt;
	height          : 332.25pt;
	}
div#e1              { /* Dans les bras de son arr... */
	position        : absolute;
	left            : 480.00pt;
	top             : 114.00pt;
	width           : 224.25pt;
	height          :  74.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
