/*--- Avanquest WebEasy Page Style ---*/


.cc27               { /* Common */
	border          :   0.00pt none #ff3366;
	}
.cc28               { /* Common */
	font            : italic bold 18pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc29               { /* Common */
	font            : bold 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc30               { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
.cc31               { /* Common */
	font            : 9pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc32               { /* Common */
	border          :   1.50pt solid #000000;
	}
span#e16            { /* mywebsite007008.gif */
	background      : transparent url(mywebsite007008.gif) no-repeat top left;
	position        : absolute;
	left            :  78.75pt;
	top             :  15.00pt;
	width           : 618.75pt;
	height          :  27.00pt;
	}
div#e15             { /* &nbsp;&nbsp;GENEALOGIE  ... */
	position        : absolute;
	left            :  90.75pt;
	top             :  16.50pt;
	width           : 574.50pt;
	height          :  28.50pt;
	}
img#e14             { /* mywebsite007007.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 142.50pt;
	width           :  57.00pt;
	height          :  30.75pt;
	}
img#e13             { /* mywebsite007006.gif */
	position        : absolute;
	left            :  11.25pt;
	top             : 202.50pt;
	width           :  58.50pt;
	height          :  29.25pt;
	}
span#e12            { /* mywebsite007005.gif */
	background      : transparent url(mywebsite007005.gif) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             : 261.75pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e11             { /* MENU */
	position        : absolute;
	left            :  11.25pt;
	top             : 150.00pt;
	width           :  60.75pt;
	height          :  17.25pt;
	}
div#e10             { /* SUITE */
	position        : absolute;
	left            :  11.25pt;
	top             : 210.00pt;
	width           :  57.00pt;
	height          :  26.25pt;
	}
div#e9              { /* RETOUR */
	position        : absolute;
	left            :   6.75pt;
	top             : 267.00pt;
	width           :  68.25pt;
	height          :  28.50pt;
	}
img#e8              { /* mywebsite007005.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 322.50pt;
	width           :  58.50pt;
	height          :  28.50pt;
	}
div#e7              { /* DOC */
	position        : absolute;
	left            :  23.25pt;
	top             : 330.00pt;
	width           :  35.25pt;
	height          :  26.25pt;
	}
img#e6              { /* mywebsite007004.gif */
	position        : absolute;
	left            :  12.00pt;
	top             : 374.25pt;
	width           :  70.50pt;
	height          :  31.50pt;
	}
div#e5              { /* Ascendance */
	position        : absolute;
	left            :  15.00pt;
	top             : 383.25pt;
	width           :  60.00pt;
	height          :  14.25pt;
	}
img#e4              { /* mywebsite007003.gif */
	position        : absolute;
	left            :  10.50pt;
	top             : 422.25pt;
	width           :  72.75pt;
	height          :  31.50pt;
	}
div#e3              { /* Déscendance */
	position        : absolute;
	left            :  18.00pt;
	top             : 429.75pt;
	width           :  69.75pt;
	height          :  15.00pt;
	}
span#e2             { /* mywebsite007002.jpg */
	background      : transparent url(mywebsite007002.jpg) no-repeat top left;
	position        : absolute;
	left            : 159.00pt;
	top             :  93.75pt;
	width           : 298.50pt;
	height          : 359.25pt;
	}
img#e1              { /* mywebsite007001.jpg */
	position        : absolute;
	left            : 519.00pt;
	top             :  80.25pt;
	width           : 176.25pt;
	height          : 437.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
