/*--- Avanquest WebEasy Page Style ---*/


.cc06               { /* Common */
	border          :   0.00pt none #ff3366;
	}
.cc07               { /* Common */
	font            : italic bold 18pt 'Casper Light SF';
	color           : #000000;
	text-align      : center;
	}
.cc08               { /* Common */
	border          :   0.00pt none #ff0000;
	}
span#e3             { /* mywebsite002002.gif */
	background      : transparent url(mywebsite002002.gif) no-repeat top left;
	position        : absolute;
	left            :  68.25pt;
	top             :  20.25pt;
	width           : 652.50pt;
	height          :  48.00pt;
	}
div#e2              { /* &nbsp;&nbsp;GENEALOGIE  ... */
	background-color: #ffff00;
	position        : absolute;
	left            :  74.25pt;
	top             :  33.00pt;
	width           : 639.75pt;
	height          :  27.75pt;
	}
img#e1              { /* mywebsite002001.jpg */
	position        : absolute;
	left            :  36.00pt;
	top             : 116.25pt;
	width           : 688.50pt;
	height          : 445.50pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
